* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.products {
    position: relative;
    display: grid;
    justify-content: center;
    place-items:center;
    
}

.container {
    
    cursor: pointer;
    width: 410px;
    place-items: center;
    align-items: center;
    /* height: 100%; */
    padding: 1px;
    border-radius: 3px;
  justify-content: center;

     
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .products {
       /* display: grid;
       place-items: center; */
       /* background:red; */
      /* width:100%;
      justify-content: center;
      align-items: center; */

      /* position: 'absolute';
      bottom: 0;
      flexDirection: 'row';
      justifyContent: 'space-between';
      backgroundColor:'red';
      width:'100%';
        display:grid;
        place-items: center; */

    }
}


.deleteBtn {
    background: rgba(255, 255, 255, 0.733);
    text-align: center;
    height: 50px;
}

.BrandName {
    background: rgba(255, 255, 255, 0.733);
    text-align: center;
    position: relative;
    bottom: 20px;
}

.BrandName :hover {
    color: #888;
}

.slick-slide img {
    margin: auto;
    width: auto;
    max-height: 15rem;
    padding: 0px;
    position: relative;
    height: 200px;
}
