/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); */

.Fom_container {
    justify-content: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    position: relative;
    top: 15rem;
}

.Fom_container button {
    position: relative;
    margin: 10px;
    width: 30%;
    padding: 10px;
    background-color: white;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    font-size: large;
    background-color: #1890ff;
    border-radius: 10.5px;
    color: #ffffff;
}

.Fom_container button:hover {
    color: #888;
    background-color: rgb(95, 148, 255);
    color: #ffffff;
    outline: #888;
}

.card {
    width: 100%;
}

#LogIn {
    font-size: 15px;
    font-weight: bolder;
}

#Need_an_account {
    font-family: sans-serif;
}

@media only screen and (max-width: 765px) {
    .Fom_container {
        width: 100%;
    }
}
