* {font-family: Arial, Helvetica, sans-serif;}

.label {
 margin-top:15px
}
 
#pageName {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#Location_inp {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    
}


#select {
    width: 105%;
    padding: 0px  ;
    margin: 5px -7px;
    box-sizing: border-box;
}


#Page_Type {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#phoneNumber {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#email {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#password {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#passwordConf {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#Location_inp {
    border: none;
    border-bottom: 2px solid rgb(24, 144, 255);
}

#phoneNumber {
    border: none;
    border-bottom: 2px solid rgb(24, 144, 255);
}



#pageName[type="text"] {
    border: none;
    border-bottom: 2px solid rgb(24, 144, 255);
}


 

#email[type="email"] {
    border: none;
    border-bottom: 2px solid rgb(24, 144, 255);
}

#pagename[type="text"] {
    border: none;
    border-bottom: 2px solid rgb(24, 144, 255);
}

#StoreName[type="text"] {
    border: none;
    border-bottom: 2px solid rgb(24, 144, 255);
}

#password[type="password"] {
    border: none;
    border-bottom: 2px solid rgb(24, 144, 255);
}

#passwordConf[type="password"] {
    border: none;
    border-bottom: 2px solid rgb(24, 144, 255);
}



