* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* .formContainer {
    justify-content: center;
    padding: 10px;
  
} */

.makeStyles-paper-11{
    width: 50%;
}




.formContainer input {
    margin: 10px;
    justify-content: center;
    padding: 10px;
    border: 1px solid #888;
    outline-color: rgb(98, 169, 240);
    width: 100%;
    
}

.formContainer textarea {
    margin: 7px;
    justify-content: center;
    padding: 10px;
    width: 100%;
    border: 1px solid #888;
    outline-color: rgb(98, 169, 240);
    resize: none;
    overflow: auto;
    position: relative;
    left: 3px;
}

.formContainer button {
    /* position: relative;
    margin: 0.0px;
    min-width: 30%;
   
    background-color: white;
    align-items: center;
    font-size: large;
    background-color: #1890ff;
    border-radius: 3.5px;
    color: #ffffff;
   left: 13px; */
   background-color: #1890ff;
  color: white;
  min-width: 40%;
  
}

.uploadBtn {
    justify-content: center;
    left: 10%; 
}

.cancelBtn {
    position: relative;
   
    align-items: center;
    font-size: large;
    background-color: #1890ff;
    border-radius: 3.5px;
    color: #ffffff;
   left: 15%; 
 
}



@media only screen and (max-width: 600px) {
    .formContainer button {
        width: 42%;
        
    }

    .makeStyles-paper-11{
        width: 90%;
    }
    

    

}

.formContainer button:hover {
    color: #888;
    background-color: rgb(95, 148, 255);
    color: #ffffff;
    outline: #888;
}

#product_Img {
    cursor: pointer;
}


